/build/
/build32/
/.cache/
/.vs/
CMakeFiles/
CMakeCache.txt
*.user
*.log
*.pdb
*.ipch
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/CMakePresets.json
!.vscode/tasks.json

# vcpkg build artifacts
vcpkg_installed/
