# ==========================
# Build artifacts
# ==========================
/build*/
/build32/
/dist_x86
/CMakeFiles/
/CMakeCache.txt
/vcpkg_installed/

# ==========================
# IDE / Editor files
# ==========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/CMakePresets.json
!.vscode/tasks.json
/.vs/

# ==========================
# Cache / Temporary files
# ==========================
/.cache/

# ==========================
# Debug / Logs
# ==========================
*.log
*.pdb
*.ipch
*.user
